.l_card{
    display:block;
    width:auto;
    height:700px;
}
.l_cardText{
    height: 220px;
    white-space: normal; 
    overflow: scroll;
    text-overflow: ellipsis;
    position: absolute;
    left:    0;
    bottom:  10%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.l_price{
    position: absolute;
    left:    0;
    bottom:  45%;
    margin-left: 20px;
    margin-bottom: 10px;
   
}
.l_cardTitle{
    position: absolute;
    left:    0;
    bottom:  55%;
    margin-left: 20px;
}
.l_cardImg{
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    height: auto;
    width: 200px;
    margin-top: 5%;
}
.l_linktomore{
    position: absolute;
    left:    0;
    bottom:   0;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn-light {
    color: #fff;
    background-color: #FF9B57;
    background-color: cutom-color;
    border-color: #FF9B57;
    border-color: cutom-cor;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-light:hover{
    color: #fff;
    background-color: #FF6F0E;
    background-color: cutom-color;
    border-color: #FF6F0E;
    border-color: cutom-cor;

}
