.card_content{
    height: auto;
    width :60em;
    margin: 0% 15% 0% 15%;
    border-radius: 3em;
    transition: all 0.3s;
}
.card_content:hover{
    border: 10px solid black;
    box-shadow: 20px 30px #888888;
}
.cardText_content{
    margin: 0% 0% 10% 0%;
    padding-right: 3em;
}
.cardImg_content{
    position:static;
    height: 20em;
    width: 25em;
    margin: 5% 0% 5% 10%;
    border: #000000 solid 15px;
}
.cardTitle_content{
    font-size: 2em;
    color:#A36512;
    margin: 5% 5% 5% 0%;
}