.l_card{
    display:block;
    width:auto;
    height:36em;
    text-align: center;
    padding-top: 10%;
    border-radius: 1.5em;
    transition: all 0.3s;
}
.l_card:hover{
    border: 7px solid black;
    box-shadow: 20px 30px #888888;
}
.l_cardText{
    height: 11em;
    width: auto;
    white-space: normal; 
    overflow: scroll;
    text-overflow: scroll;
    text-align: left;
    position: absolute;
    left:    0;
    bottom:  13%;
    margin-left: 1.5em;
    margin-right: 1em;
    margin-bottom: 20px;
    font-size: 1em;
}
.l_price{
    position: absolute;
    left:    0;
    bottom:  45%;
    margin-left: 1.5em;
    margin-bottom: 10px;
    font-size: 1em;
}
.l_cardTitle{
    position: absolute;
    width: 90%;
    left:    0;
    bottom:  52%;
    margin-left: 1.2em;
    text-align: left;
    font-size: 1.3em;
}
.l_cardImg{
    height: 30%;
    width: 55%;
    
}
.l_linktomore{
    position: absolute;
    left:    0;
    bottom:   0;
    margin-left: 2.5em;
    margin-bottom: 3.2em;
    height: 4.2em;
    font-size: 40px;
}
.l_linktomore a{
    text-decoration:none;
    color: white;
}
.btn-light {
    color: #fff;
    background-color: #FF9B57;
    background-color: cutom-color;
    border-color: #FF9B57;
    border-color: cutom-cor;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-light:hover{
    color: #fff;
    background-color: #FF6F0E;
    background-color: cutom-color;
    border-color: #FF6F0E;
    border-color: cutom-cor;

}
