.l_card{
    display:block;
    width:auto;
    height:36em;
    text-align: center;
    padding-top: 10%;
    border-radius: 1.5em;
    transition: all 0.3s;
}
.l_card:hover{
    border: 7px solid black;
    box-shadow: 10px 20px #888888;
}
.l_cardText{
    height: 12em;
    width: 19em;
    white-space: normal; 
    overflow: scroll;
    text-overflow: scroll;
    text-align: left;
    position: absolute;
    left:    0;
    bottom:  10%;
    margin-left: 1.5em;
    margin-bottom: 20px;
}
.l_price{
    position: absolute;
    left:    0;
    bottom:  44%;
    margin-left: 1.5em;
    margin-bottom: 10px;
   
}
.l_cardTitle{
    position: absolute;
    width: 15em;
    left:    0;
    bottom:  51%;
    margin-left: 1.2em;
    text-align: left;
}
.l_cardImg{
    height: 35%;
    width: 60%;
    
}
.l_linktomore{
    position: absolute;
    left:    0;
    bottom:   0;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    height: 3.5em;
    font-size: 40px;
}
.l_linktomore a{
    text-decoration:none;
    color: white;
}
.btn-light {
    color: #fff;
    background-color: #FF9B57;
    background-color: cutom-color;
    border-color: #FF9B57;
    border-color: cutom-cor;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-light:hover{
    color: #fff;
    background-color: #FF6F0E;
    background-color: cutom-color;
    border-color: #FF6F0E;
    border-color: cutom-cor;

}
