.cardz__{
    display:block;
    width:auto;
    height:20em;
    text-align: center;
    padding-top: 10%;
    border-radius: 1.5em;
    transition: all 0.3s;
}
.cardz__:hover{
    border: 7px solid black;
    box-shadow: 20px 30px #888888;
}
.cardText__{
    height: 10px;
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.cardImg__{
    height: 50%;
    width: 69%;
}
.linktomore__{
    position: absolute;
    left:    0;
    bottom:   0;
    margin-left: 2em;
    margin-bottom: 4em;
    height: 3em;
    font-size: 40px;
}
.cardTitle__{
    position: absolute;
    left:    0;
    bottom:  25%;
    font-size: 1.3em;
    margin-left: 1em;
}
.btn-light {
    color: #fff;
    background-color: #FF9B57;
    background-color: cutom-color;
    border-color: #FF9B57;
    border-color: cutom-cor;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-light:hover{
    color: #fff;
    background-color: #FF6F0E;
    background-color: cutom-color;
    border-color: #FF6F0E;
    border-color: cutom-cor;

}
