.navbar {
  background-color: #dfdfdf;
  height: 4.5em;
}
#_navbar {
  background-color: #f783fc;
}
.navbar-brand img {
  height: 4em;
  width: 4em;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-brand {
  font-size: 120px;
}
.nav-item__t {
  font-size: 75px;
}
.navDropdown {
  height: 15em;
}
#logo {
  margin-left: 30px;
}
.nav-item  {
  height: 5em;
  padding-top: 1.7em;
  box-shadow: inset 0 -3px 0 -1px #ffffff;
  transition: 0.15s ease-in-out;
  line-height: 40px;
}
.nav-box {
  margin-left: 1800px;
  margin-right: 1800px;
}
.nav-item:hover  {
  color: #ffffff;
  background-color: #ff6f0e;
  box-shadow: inset 0 -40px 0 -1px #ffffff;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-item:visited {
  color: #ffffff;
  background-color: #a2a2a2;
  box-shadow: inset 0 -40px 0 -1px #ffffff;
}
#contactus{
  position: absolute;
  left: 90%;
}
.nav-items  {
  height: 5em;
  padding-top: 1.7em;
  box-shadow: inset 0 -3px 0 -1px #ffffff;
  transition: 0.15s ease-in-out;
  line-height: 40px;
}
.nav-items:hover  {
  color: #ffffff;
  background-color: #ff6f0e;
  box-shadow: inset 0 -40px 0 -1px #ffffff;
}