.icon{
    height: 3em;
    width : 3em;
    justify-content: center;
    margin-right: 40px;
}
.linkicon{
    display: flex;
    margin: auto;
    width: 70%;
    position: absolute;
    left:    25%;
    bottom:  5%;
    margin-bottom: 20px;
    
}
.icon:hover{
    transform: scale(1.3);
}
.c_cardImg{
    display: flex;
    position: relative;
    border-radius: 2em;
    justify-content: center;
    margin: auto;
    height: 11em;
    width: 10em;
    margin-top: 5%;
    margin-bottom: 20px;
}
.c_cardText{
    position: absolute;
    left:    22%;
    bottom: 18%;
    margin-bottom: 20px;
}
.c_card{
    display:block;
    width:20em;
    height:25em;
    margin-bottom: 2em;
    border-radius: 5em;
    transition: all 0.3s;
}
.c_card:hover{
    border: 7px solid #FF6F0E;
    box-shadow: 20px 30px #FF9B57;
}
.table__c{
    justify-content: center;
    margin: 5em;
    
}