.cardImg {
    height: 125px;
    width: 150px;
    margin:  25px 50px 25px 70px;
}
.g-4{
    margin: 50px;
}


.banner{
    display: flex;
    justify-content: center;
}
.banner_img{
    left: 50%;
}
.searchbox{
    position: absolute;
    margin-left: 50%;
}
/*.card {
    height: 300px;
}*/