.cardImg {
    height: 125px;
    width: 150px;
    margin:  25px 50px 25px 70px;
}
.g-4{
    margin: 50px;
}


.banner{
    padding: 1% 40% 0% 40%;
    
}
.banner_img{
    align-items: center;
}
.searchbox{
    position: absolute;
    margin-left: 50%;
}
/*.card {
    height: 300px;
}*/